body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu-list ul,
.user-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.menu-list ul li,
.user-list ul li {
    margin: 0 1em;
}

.menu-list ul li a,
.user-list ul li a {
    color: #fff;
    text-decoration: none;
}

.menu-list ul li a:hover,
.user-list ul li a:hover {
    text-decoration: underline;
}


/* Featured Items styles */

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.item {
    width: 360px;
    margin: 10px;
    text-align: center;
    position: relative;
}

.item-img-container {
    width: 100%;
    position: relative;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease;
}

.basket-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.item-img-container:hover img {
    opacity: 0.7;
}

.item-img-container:hover .overlay {
    opacity: 1;
}

.item-info {
    text-align: left;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: -10px;
}

.price {
    color: #f04;
    font-weight: bold;
}

.browse-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #f04;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.browse-button:hover {
    background-color: #fff;
    color: #f04;
}